#  ---------------------- TELEGRAM  ---------------------- 
API_TOKEN=0112312312:QwErTyUuUiOp234Njnsfjfkwjfnwfkj3213

#  ----------------------  LOCAL  ---------------------- 
REDIS_URL=redis://localhost:6379
DB_URL=mysql+aiomysql://root:root@127.0.0.1/telegram_budget


#  ----------------------  DOCKER  ---------------------- 

# REDIS_URL=redis://redis:6379
# DB_URL=mysql+aiomysql://<MYSQL_USER>:<MYSQL_PASSWORD>@<MYSQL_CONTAINER_NAME>:<PORT>/<DB_NAME>
# DB_URL=mysql+aiomysql://my_user:my_pass@db/db          <----------- example


# MYSQL_ROOT_PASSWORD=secret
# MYSQL_DATABASE=db

# MYSQL_USER=my_user
# MYSQL_PASSWORD=my_pass

#  ---------------------- MAIL ---------------------- 

SMTP_USER=myemail@gmail.com
SMTP_PASSWORD=secret


#  ---------------------- GOOGLE API CREDENTIAILS ----------------------

TYPE=
PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY=""      # <----------- insert between quotes
CLIENT_EMAIL=
CLIENT_ID=
AUTH_URI=
TOKEN_URI=
AUTH_PROVIDER_X509_CERT_URL=
CLIENT_X509_CERT_URL=